/*Gør så man ikke kan scroll til siden*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

/*gælder for alle sectioner disse regler*/

section {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    column-gap: 10px;
    padding: 0 1rem;
}

/*MOBILE SITE*/
/*NAVIGATION*/

header {
    background-color: #FAF7FB;
}


.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    margin-left: 10px;
    width: 200px;
    height: 75px;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: #2D3A98;
    cursor: pointer;
}

#knap:hover {
    color: #fbaed2;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #2D3A98;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: #fbaed2;
}

a {
    font-family: font-family: 'Roboto', sans-serif;
}

h2,
h3 {
    font-family: font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

/*Skjuler menuén indtil burgermenu er klikket på*/

.toggle {
    display: none;
}

/*NAVIGATION SLUT*/

footer {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
}

/*INDHOLD*/

.picture img {
    display: block;
    margin: auto;
    border: 1px;
    width: 250px;
    padding: 4px;
}

#iframepdf {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
}


p {
    text-align: center;
}

h2 {
    margin-top: 30px;
    text-align: center;
    color: #fbaed2;
}

/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
}

#navn {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: #FAF7FB;
}

/*DESKTOP START*/
@media (min-width: 600px) {

    .picture p {
        font-size: 1.2rem;
    }

    /*NAVIGATION*/

    .topbar img {
        width: 250px;
        height: 100px;
    }

    #knap {
        display: none;
    }

    header {
        background-color: #FAF7FB;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5, 20px);
    }

    nav a {
        text-align: center;
        color: #2D3A98;
    }

    nav a:hover {
        color: #fbaed2;
    }

    #tema_02 {
        grid-column-start: 5;
        grid-row-start: 2;
    }

    #tema_03 {
        grid-column-start: 6;
        grid-row-start: 2;
    }

    #tema_04 {
        grid-column-start: 7;
        grid-row-start: 2;
    }

    #tema_05 {
        grid-column-start: 8;
        grid-row-start: 2;
    }

    #om_mig {
        grid-column-start: 9;
        grid-row-start: 2;
    }

    /*NAV SLUT*/

    /*INDHOLD*/
    #overskrift {
        font-size: 1.5rem;
    }

    #section_1 {
        font-size: 1.2rem;
    }

    .picture img {
        display: block;
        margin: auto;
        border: 1px;
        width: 250px;
        padding: 4px;
    }

    #section_2 {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        margin-bottom: 10px;
        column-gap: 10px;
        justify-content: center;
    }
}


/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
}

#navn {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: #FAF7FB;
}
