/*Gør så man ikke kan scroll til siden*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


img {
    width: 100%;
    display: block;
}

/*gælder for alle sectioner disse regler*/

section {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    column-gap: 10px;
    padding: 0 1rem;
}

/*MOBILE SITE*/
/*NAVIGATION*/

header {
    background-color: #FAF7FB;
}


.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    margin-left: 10px;
    width: 200px;
    height: 75px;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: #2D3A98;
    cursor: pointer;
}

#knap:hover {
    color: #fbaed2;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #2D3A98;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: #fbaed2;
}

a {
    font-family: font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: font-family: 'Roboto', sans-serif;
}

/*Skjuler menuén indtil burgermenu er klikket på*/

.toggle {
    display: none;
}

/*NAVIGATION SLUT*/

/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
}

#navn {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: #FAF7FB;
}

/*DESKTOP START*/
@media (min-width: 600px) {

    /*NAVIGATION*/

    .topbar img {
        width: 250px;
        height: 100px;
    }

    #knap {
        display: none;
    }

    header {
        background-color: #FAF7FB;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5, 20px);
    }

    nav a {
        text-align: center;
        color: #2D3A98;
    }

    nav a:hover {
        color: #fbaed2;
    }

    #tema_02 {
        grid-column-start: 5;
        grid-row-start: 2;
    }

    #tema_03 {
        grid-column-start: 6;
        grid-row-start: 2;
    }

    #tema_04 {
        grid-column-start: 7;
        grid-row-start: 2;
    }

    #tema_05 {
        grid-column-start: 8;
        grid-row-start: 2;
    }

    #om_mig {
        grid-column-start: 9;
        grid-row-start: 2;
    }

    /*NAV SLUT*/

    /*FOOTER*/
    footer {
        display: grid;
        grid-template-columns: auto;
        margin: 10px;
    }

    #navn {
        display: grid;
        grid-template-columns: 150px 1fr;
        background-color: #FAF7FB;
    }


}
