/*Gør så man ikke kan scroll til siden*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


img {
    width: 100%;
    display: block;
}

/*gælder for alle sectioner disse regler*/

section {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    column-gap: 10px;
    padding: 0 1rem;
}

/*MOBILE SITE*/
/*NAVIGATION*/

header {
    background-color: #FAF7FB;
}


.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    margin-left: 10px;
    width: 200px;
    height: 75px;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: #2D3A98;
    cursor: pointer;
}

#knap:hover {
    color: #fbaed2;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #2D3A98;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: #fbaed2;
}

a {
    font-family: font-family: 'Roboto', sans-serif;
}

h2,
h3 {
    font-family: font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

/*Skjuler menuén indtil burgermenu er klikket på*/

.toggle {
    display: none;
}

/*NAVIGATION SLUT*/

/*INDHOLD*/
#section_1 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

#video1 {
    width: 400px;
    height: 275px;
}

#section_2 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

/*GALLERI*/
#galleri {
    display: grid;
    grid-gap: 10px;
}

h2,
h3 {
    text-align: center;
}

/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
}

#navn {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: #FAF7FB;
}

/*DESKTOP START*/
@media (min-width: 600px) {

    p {
        font-size: 1.2rem;
    }

    /*NAVIGATION*/

    .topbar img {
        width: 250px;
        height: 100px;
    }

    #knap {
        display: none;
    }

    header {
        background-color: #FAF7FB;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5, 20px);
    }

    nav a {
        text-align: center;
        color: #2D3A98;
    }

    nav a:hover {
        color: #fbaed2;
    }

    #tema_02 {
        grid-column-start: 5;
        grid-row-start: 2;
    }

    #tema_03 {
        grid-column-start: 6;
        grid-row-start: 2;
    }

    #tema_04 {
        grid-column-start: 7;
        grid-row-start: 2;
    }

    #tema_05 {
        grid-column-start: 8;
        grid-row-start: 2;
    }

    #om_mig {
        grid-column-start: 9;
        grid-row-start: 2;
    }

    /*NAV SLUT*/

    /*INDHOLD*/
    #section_1 {
        display: grid;
        text-align: center;
        grid-gap: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    #video {
        grid-column-start: 1;
    }

    #video1 {
        width: 1000px;
        height: 780px;
    }


    #section_2 {
        display: grid;
        grid-template-columns: 600px auto auto;
        text-align: left;
        grid-gap: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: left;
    }

    #text {
        text-align: left;
    }

    #temadokumentation {
        grid-column-start: 2;
    }

    /*GELLERI*/
    #galleri {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
        justify-content: space-between;
    }

    #billede1 {
        grid-column-start: 1;
        width: 350px;
        height: 350px;
    }

    #billede2 {
        grid-column-start: 2;
        width: 350px;
        height: 350px;
    }

    #billede3 {
        grid-column-start: 1;
        width: 350px;
        height: 350px;
    }

    #billede4 {
        grid-column-start: 2;
        width: 350px;
        height: 350px;
    }


    /*FOOTER*/
    footer {
        display: grid;
        grid-template-columns: auto;
        margin: 10px;
    }

    #navn {
        display: grid;
        grid-template-columns: 150px 1fr;
        background-color: #FAF7FB;
    }
}
