/*Gør så man ikke kan scroll til siden*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


img {
    width: 100%;
    display: block;
}

/*gælder for alle sectioner disse regler*/

section {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    column-gap: 10px;
    padding: 0 1rem;
}

/*MOBILE SITE*/
/*NAVIGATION*/

header {
    background-color: #FAF7FB;
}


.header {
    background: none;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
}

.topbar img {
    margin-left: 10px;
    width: 200px;
    height: 75px;
}

#knap {
    grid-column-start: 3;
    font-size: 20px;
    text-align: center;
    font-size: 26px;
    color: #2D3A98;
    cursor: pointer;
}

#knap:hover {
    color: #fbaed2;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #2D3A98;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: #fbaed2;
}

a {
    font-family: 'Roboto', sans-serif;
}

h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

/*Skjuler menuén indtil burgermenu er klikket på*/

.toggle {
    display: none;
}

/*NAVIGATION SLUT*/

/*ANIMATION START*/
#screen {
    position: relative;
    width: 100vw;
    height: 30vw;
    overflow: hidden;
}

#elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pink_container {
    position: absolute;
    top: 5vw;
    left: 10vw;
    /* z-index: 99;*/
}

#pink_sprite {
    background-image: url(Assitliste/pink.svg);
    background-size: cover;
    width: 9vw;
    height: 9.8vw;
}

/*animations effekt drej*/
.drej {
    animation-name: drej_kf;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes drej_kf {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*elementer blå klodser*/

#klods1_container {
    position: absolute;
    top: 5vw;
    left: 24vw;
    /*z-index: 99;*/
}

#klods1_sprite {
    background-image: url(Assitliste/klods1.svg);
    background-size: cover;
    width: 7vw;
    height: 7.8vw;
}

#klods2_container {
    position: absolute;
    top: 5vw;
    left: 32vw;
    /*z-index: 99;*/
}

#klods2_sprite {
    background-image: url(Assitliste/klods2.svg);
    background-size: cover;
    width: 7vw;
    height: 7.8vw;
}

#klods3_container {
    position: absolute;
    top: 5vw;
    left: 40vw;
    /*z-index: 99;*/
}

#klods3_sprite {
    background-image: url(Assitliste/klods3.svg);
    background-size: cover;
    width: 7vw;
    height: 7.8vw;
}

#klods4_container {
    position: absolute;
    top: 5vw;
    left: 48vw;
    /*z-index: 99;*/
}

#klods4_sprite {
    background-image: url(Assitliste/klods4.svg);
    background-size: cover;
    width: 7vw;
    height: 7.8vw;
}

#klods5_container {
    position: absolute;
    top: 5vw;
    left: 56vw;
    /*z-index: 99;*/
}

#klods5_sprite {
    background-image: url(Assitliste/klods5.svg);
    background-size: cover;
    width: 7vw;
    height: 7.8vw;
}

#klods6_container {
    position: absolute;
    top: 5vw;
    left: 64vw;
    /*z-index: 99;*/
}

#klods6_sprite {
    background-image: url(Assitliste/klods6.svg);
    background-size: cover;
    width: 7vw;
    height: 7.8vw;
}

#klods7_container {
    position: absolute;
    top: 5vw;
    left: 72vw;
    /*z-index: 99;*/
}

#klods7_sprite {
    background-image: url(Assitliste/klods7.svg);
    background-size: cover;
    width: 7vw;
    height: 7.8vw;
}

#klods8_container {
    position: absolute;
    top: 5vw;
    left: 80vw;
    /*z-index: 99;*/
}

#klods8_sprite {
    background-image: url(Assitliste/klods8.svg);
    background-size: cover;
    width: 7vw;
    height: 7.8vw;
}

/*animations effekt hop*/

.hop {
    animation-name: hop_kf;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes hop_kf {
    0% {
        top: 20vw;
    }

    100% {
        top: 10vw;
    }
}

/*ANIMATION SLUT*/

/*TEKST OG BILLEDE INDHOLD*/
#section_1 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

#designdokumentation {
    align-items: center;

}


/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
}

#navn {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: #FAF7FB;
}

/*DESKTOP START*/
@media (min-width: 600px) {

    #tekst p {
        font-size: 1.2rem;
    }

    /*NAVIGATION*/

    .topbar img {
        width: 250px;
        height: 100px;
    }

    #knap {
        display: none;
    }

    header {
        background-color: #FAF7FB;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5, 20px);
    }

    nav a {
        text-align: center;
        color: #2D3A98;
    }

    nav a:hover {
        color: #fbaed2;
    }

    #tema_02 {
        grid-column-start: 5;
        grid-row-start: 2;
    }

    #tema_03 {
        grid-column-start: 6;
        grid-row-start: 2;
    }

    #tema_04 {
        grid-column-start: 7;
        grid-row-start: 2;
    }

    #tema_05 {
        grid-column-start: 8;
        grid-row-start: 2;
    }

    #om_mig {
        grid-column-start: 9;
        grid-row-start: 2;
    }

    /*NAV SLUT*/

    /*TEKST OG BILLEDE INDHOLD*/
    #section_1 {
        display: grid;
        grid-template-columns: 600px auto auto;
        text-align: left;
        grid-gap: 100px;
        margin-top: 30px;
    }

    #designdokumentation {
        grid-column-start: 2;
        width: 500px;
    }

    #tekst {
        text-align: left;
    }

    /*INDHOLD ANIMATIONS KLODSER*/

    #screen {
        position: relative;
        width: 100vw;
        height: 30vw;
        overflow: hidden;
    }

    #elements {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #pink_container {
        position: absolute;
        top: 5vw;
        left: 10vw;
        /* z-index: 99;*/
    }

    #pink_sprite {
        background-image: url(Assitliste/pink.svg);
        background-size: cover;
        width: 9vw;
        height: 9.8vw;
    }

    /*animations effekt drej*/
    .drej {
        animation-name: drej_kf;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    @keyframes drej_kf {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /*elementer blå klodser*/

    #klods1_container {
        position: absolute;
        top: 5vw;
        left: 24vw;
        /*z-index: 99;*/
    }

    #klods1_sprite {
        background-image: url(Assitliste/klods1.svg);
        background-size: cover;
        width: 7vw;
        height: 7.8vw;
    }

    #klods2_container {
        position: absolute;
        top: 5vw;
        left: 32vw;
        /*z-index: 99;*/
    }

    #klods2_sprite {
        background-image: url(Assitliste/klods2.svg);
        background-size: cover;
        width: 7vw;
        height: 7.8vw;
    }

    #klods3_container {
        position: absolute;
        top: 5vw;
        left: 40vw;
        /*z-index: 99;*/
    }

    #klods3_sprite {
        background-image: url(Assitliste/klods3.svg);
        background-size: cover;
        width: 7vw;
        height: 7.8vw;
    }

    #klods4_container {
        position: absolute;
        top: 5vw;
        left: 48vw;
        /*z-index: 99;*/
    }

    #klods4_sprite {
        background-image: url(Assitliste/klods4.svg);
        background-size: cover;
        width: 7vw;
        height: 7.8vw;
    }

    #klods5_container {
        position: absolute;
        top: 5vw;
        left: 56vw;
        /*z-index: 99;*/
    }

    #klods5_sprite {
        background-image: url(Assitliste/klods5.svg);
        background-size: cover;
        width: 7vw;
        height: 7.8vw;
    }

    #klods6_container {
        position: absolute;
        top: 5vw;
        left: 64vw;
        /*z-index: 99;*/
    }

    #klods6_sprite {
        background-image: url(Assitliste/klods6.svg);
        background-size: cover;
        width: 7vw;
        height: 7.8vw;
    }

    #klods7_container {
        position: absolute;
        top: 5vw;
        left: 72vw;
        /*z-index: 99;*/
    }

    #klods7_sprite {
        background-image: url(Assitliste/klods7.svg);
        background-size: cover;
        width: 7vw;
        height: 7.8vw;
    }

    #klods8_container {
        position: absolute;
        top: 5vw;
        left: 80vw;
        /*z-index: 99;*/
    }

    #klods8_sprite {
        background-image: url(Assitliste/klods8.svg);
        background-size: cover;
        width: 7vw;
        height: 7.8vw;
    }

    /*animations effekt hop*/

    .hop {
        animation-name: hop_kf;
        animation-duration: 1s;
        animation-iteration-count: 2;
        animation-timing-function: linear;
        animation-direction: alternate;
    }

    @keyframes hop_kf {
        0% {
            top: 20vw;
        }

        100% {
            top: 10vw;
        }
    }

    /*INDHOLD ANIMATIONS KLODSER SLUT*/

    /*FOOTER*/
    footer {
        display: grid;
        grid-template-columns: auto;
        margin: 10px;
    }

    #navn {
        display: grid;
        grid-template-columns: 150px 1fr;
        background-color: #FAF7FB;
    }


}
